body {
    background: none;
}

/* Book highlights */

.bh {
    box-shadow: 3px 3px 6px #eee;  border-radius: 5px;
    border: 1px solid #ddd; width: 450px; cursor: pointer; padding: 25px 20px 40px 20px; 
    font-family: Arial,Verdana,Geneva,sans-serif; font-size: 14px; line-height: 18px;
    margin: 25px; margin-left: 130px; margin-top: 0px; background: #fff;
}

#book_image{width: 80px; margin: 15px; margin-top: 25px; filter: grayscale(100%); 
    border-radius: 5px; position: absolute;
    margin-left: 25px; top: -10px;
}

.bh-header{background: #222; width: 100%; margin: 0px auto; color: #ffb366; 
    font-size: 12px; padding: 10px 0px 10px 486px; 
}

.next-bh {
    color: #ffb366; font-size: 40px; float: right; line-height: 25px; margin-left: 5px;
}
.author-bh {
    color: #333; margin-right: 10px;
}
.wiki-bh {
    text-decoration: none;
}
.more-bh {
    color: #888; float: right; font-size: 14px; line-height: 28px;
}
.title-bh {
    color: #888; padding-left: 0px;
}
.text-bh {
    clear: both; text-align: justify; font-size: 16px; margin-bottom: 0px; 
    line-height: 24px; color: #888; display: inline-block; margin-top: 30px;
}
.text-bh i {
    background-color: #FFF48B; font-style: normal; color: #000;
}

/* Drop down menu */

#dropdownMenuButton-bh {
    font-size: 14px; background: #fff; color: #000; text-align: left; 
    font-weight: normal !important; margin-right: 20px; box-shadow: 2px 2px 6px #eee; 
    border: 1px solid #eee; float: left; padding: 3px 10px 3px 16px; width: 250px;
}
#dropdown-bh {
    font-size: 12px; margin-left: -22px;
}
#dropdown-menu-bh {
    margin-top: 30px; margin-left: -5px; 
    font-size: 14px; padding-bottom: 5px; padding-top: 5px; box-shadow: 3px 3px 3px #eee;
} 
.dropdown-toggle::after {
    float: right; margin-top: 10px;
}
.dropdown-book {
    color: #888; margin-left: 5px;
}
.dropdown-author-totals {
    float: right; color: #888; padding-left: 20px; font-size: 12px;
}
.dropdown-check {
    float: right; font-size: 18px; color: #ffb366;
}
.dropdown-divider {
    width: 350px;
}

/* Icons */

.icon-bh a {
    color: #888; font-size: 20px; padding: 1px;
}
.icon-bh a:hover {
    color: #333;
}
.icons-bh {
    float: right; margin-top: 26px; background: #fff; 
    border-radius: 50%; border: 5px solid #fff;
}
.bi-check-circle-fill {
    color: #888; margin-right: 5px; font-size: 15px;
}

/* Cookie form */

#cookie-switch {
    float: left; cursor: pointer;
}
.form-check-input {
    cursor: pointer; 
}
.form-check-input:checked {
    background-color: #ffb366; border-color: #ffb366;
}
.form-check-input:focus {
    border-color: #aaa; outline: 0; box-shadow: 0 0 0 0 #fff;
}