[FLAG]
REWRITE = False
DEBUG   = False

[DATA]
FILES       = ../files_archive/screenshots/
AUTHORS     = ../public_html/data/authors.json
BOOKS       = ../public_html/data/books.json
HIGHLIGHTS  = ../public_html/data/highlights.json

[PUBLIC]
SRC = ../public_html
DST = /your_path/public_html/